<!DOCTYPE html>
<html lang="hu" layout:decorate="~{admin/main}">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="loginContent">

    <div class="col-md-2"></div>


    <div class="col-md-8">


        <div class="card mt-2 mx-auto p-4 bg-light ">
            <div class="card-body bg-light">
                <div class="container">
                    <h1 class="pb-2 border-bottom row">
                        <span class="col-sm-10 pb-4">Új egyesületi tag hozzáadása</span>
                    </h1>

                    <form enctype="multipart/form-data" id="newUser" method="POST" name="newUser" th:action="@{/addUser}"
                          th:object="${user}">
                        <div class="controls">
                            <div class="row">
                            </div>
                            <br>
                            <div class="col-md-6">
                                <div class="form-group"><input class="form-control" data-error="Firstname is required." id="name"
                                                               placeholder="Kérem adja meg a vezetéknevet"
                                                               required="required"
                                                               th:field="*{firstName}" type="text">
                                </div>
                                <div class="form-group"><input class="form-control" data-error="Lastname is required." id="nickName"
                                                               placeholder="Kérem adja meg a keresztnevet"
                                                               required="required"
                                                               th:field="*{lastName}" type="text">
                                </div>
                                <div class="form-group"><input class="form-control" data-error="Valid email is required." id="email"
                                                               placeholder="Kérem adja meg az email címet"
                                                               required="required"
                                                               th:field="*{email}"
                                                               type="email"></div>
                                <div class="form-group"><input class="form-control" data-error="Valid email is required." id="phoneNumber"
                                                               placeholder="Kérem adja meg a telefonszámot"
                                                               required="required"
                                                               th:field="*{phoneNumber}"
                                                               type="text"></div>
                                <div class="form-group"><input class="form-control" data-error="Valid email is required." id="county"
                                                               placeholder="Kérem adja meg az érintett megyét"
                                                               required="required"
                                                               th:field="*{county}"
                                                               type="text"></div>
                                <label for="role">Szerepkör:</label>
                                <div class="form-group"><select  id="role" th:field="*{roleName}" class="form-control" aria-label="Default select example">
                                    <option value="ROLE_ADMIN">admin</option>
                                    <option value="ROLE_USER">user</option>
                                </select></div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Regisztrál</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- /.8 -->

    </div>
    <div class="col-md-2"></div>
</div>
</div>
</div>

</body>
</html>