<!DOCTYPE html>
<html lang="hu" layout:decorate="~{layouts/main}">
<head>
	<title></title>
</head>
<body>

	<div layout:fragment="loginContent">




			<div class="jumbotron">


				<h2>Üdvözlünk az oldalon!</h2><br>

				<p>A magyar háztartások 43%-ában található kutya 27%-ában macska, ez kb 4 millió állattartót jelent.
					Ennyi jóérzésű embert kényszerít felháborodásra a manapság napi szinten előforduló állatkínzás és -bántalmazás, gondatlan tartás.
					Ezek egy jó részét ma már bejelentik, kivizsgálásukra, utóellenőrzésükre nincs kapacitása sem a rendőrségnek, sem az önkormányzatoknak.
				Amennyiben Te is hasonlót tapasztalsz, úgy a Bejelentés menű pontra kattintva lehetőséged nyílik, akár névtelenül is jelezni felénk a tapasztaltakat! </p>

			</div>

		</div>



</body>
</html>