<!DOCTYPE html>
<html lang="hu" layout:decorate="~{layouts/main}">
<head>
	<title></title>
</head>
<body>

<div layout:fragment="loginContent">

	<h2>Információ</h2>
	<p>Szerepkör: <span sec:authentication="principal.authorities">[]</span></p>

	<p>Felhasználók:</p>

	<table class="table table-striped">
		<thead>
		<tr>
			<td>Username</td>
			<td>Jelszó</td>
			<td>Role</td>
			<td>Aktiv</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user : ${users}">
			<td th:text="${user.email}"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.roleName}"></td>
			<td th:text="${user.active}"></td>

		</tr>
		</tbody>
	</table>

</div>
</body>
</html>