<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/main}">
<head>
	<title></title>
</head>
<body>

	<div layout:fragment="loginContent">

		<div class="col-md-2"></div>


		<div class="col-md-8">


			<div class="card mt-2 mx-auto p-4 bg-light " >
				<div class="card-body bg-light">
					<div class="container">

						<form id="report" name="report" th:action="@{/reg}" th:object="${report}" method="POST" enctype="multipart/form-data">
							<div class="controls">
								<div class="row">
									<div class="col-md-3">
										<label for="defSwitch">Névtelen bejelentés:</label>
										<div class="material-switch pull-right">
											<input class="primary-switch" id="defSwitch" th:field="*{isAnonym}" name="defSwitch" type="checkbox" onclick="switchFunc()"/>
											<label for="defSwitch" ></label>
										</div>
									</div>
								</div><br>
								<div class="col-md-6">
									<div class="form-group"><input id="lastName" type="text" th:field="*{lastName}" class="form-control" placeholder="Kérem adja meg a vezetéknevét" required="required" data-error="Firstname is required."></div>
									<div class="form-group"><input id="firstName" type="text"  th:field="*{firstName}" class="form-control" placeholder="Kérem adja meg a keresztnevét" required="required" data-error="Lastname is required."></div>
									<div class="form-group"><input id="county" type="text"  th:field="*{county}" class="form-control" placeholder="Kérem adja meg a megyét" required="required" data-error="Firstname is required."></div>
									<div class="form-group"><input id="address" type="text" th:field="*{address}" class="form-control" placeholder="Kérem adja meg a pontos címet" required="required" data-error="Lastname is required."></div>
									<div class="form-group"><input id="email" type="email"  th:field="*{email}" class="form-control" placeholder="Kérem adja meg az email címét" required="required" data-error="Valid email is required."></div>
								<div class="form-group">	<label for="notifiedDate">Ekkor észleltem az esetet</label> <input type="date" id="notifiedDate" th:field="*{notifiedDate}" class="form-control"></div>
									<div class="form-group"><label for="message">Üzenet</label> <textarea id="message" th:field="*{message}" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave us a message."></textarea></div>
									<div class="form-group"><label for="isDanger">Közvetlen életveszély áll fenn? </label> <input class="form-check-input" type="checkbox" value="" id="isDanger" th:field="*{isDanger}" ></div>
									<div class="form-group"><label for="image"><strong>Tölts fel egy képet az állatról:</strong></label> <input type="file" id="image" name="image" accept="image/*"></div>
									<div class="form-group"><button class="btn btn-primary" type="submit">Regisztráció</button></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div> <!-- /.8 -->

		</div>
		<div class="col-md-2"></div>
		
		
</body>
</html>